.popup__edit-btn_action_close {
    background-image: url(../../../../images/Close-Icon.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 438px;
    bottom: 338px;
    cursor: pointer;
}

.popup__edit-btn_action_close:hover {
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out 0.2s;
}

@media screen and (max-width: 768px) {
    .popup__edit-btn_action_close {
        background-image: url(../../../../images/Close_icon-small.svg);
        width: 20px;
        height: 20px;
        left: 263px;
        bottom: 345px;
    }
}
